<!DOCTYPE html>
<html lang="en" ng-app="chromtext">
	<head>
		<title>ChromText</title>

		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="style/css/editor-style.css">
	</head>
	<body ng-controller="editorCtrl">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		  <div class="navbar-header">
		  	<div class="navbar-brand">Chrom<strong>Text</strong></div>
		  </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">File</a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Open</a></li>
		            <li><a href="#">New</a></li>
		            <li><a href="#">Save</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Exit</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit</a>
		          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		            <li class="dropdown-submenu">
		           	<li ng-repeat="theme in themes">
		           		<a href="#" ng-click="changeTheme(theme)">{{theme}}</a>
		           	</li>
		            <li class="divider"></li>
		            <li><a href="#">Settings</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div id="editor"></div>
		</div>
		<!-- jQuery -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="libs/ace/src-min-noconflict/ace.js"></script>

		<!-- Bootstrap JavaScript -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- Angular JS -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/controllers/editorCtrl.js"></script>
	</body>
</html>